*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.mycontainer{
    background-color:oklch(71.2% 0.194 13.428);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container1{
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.fingerprint{
    width: 150px;
    border-radius: 50%;
}
.sub-info h1{
    font-size: 38px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: deeppink;
    margin-top: 25px;
}
.butn-part{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom:35px;
    gap: 60px;
    /* width: 30%; */
}

.butn-part button{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn1{
    background-color:deeppink ;
    color: White;
    padding: 10px;
    border-radius: 30px;
}
.btn1:hover{
    transform: scaleX(3px);
    transition: ease-out 0.3s;
    background-color: rgba(255, 20, 145, 0.89);
}
.btn2{
    background-color:oklch(90.5% 0.182 98.111);
    color: White;
    padding: 10px;
    border-radius: 30px;
}


/* second pop up */

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 16px;
}
.popup-box {
  background: #fff;
  width: 100%;
  max-width: 420px;
  border-radius: 18px;
  padding: 24px;
  text-align: center;
  position: relative;
  animation: popupIn 0.35s ease;
}
.close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.messagecomfirm h1 {
  font-size: 1.9rem;
  margin-bottom: 10px;
}
.messagecomfirm h3 {
  font-size: 1.2rem;
  line-height: 1.4;
}

.gif-part img {
  width: 100%;
  max-width: 320px;
  margin-top: 16px;
  border-radius: 14px;
}


@media (max-width: 768px) {
  .popup-overlay {
    padding: 0;
  }

  .popup-box {
    height: 100vh;
    max-width: none;
    border-radius: 0;
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .close-btn {
    font-size: 22px;
  }
}

@keyframes popupIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}