*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.mycontainer{
    background-color:oklch(71.2% 0.194 13.428);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container1{
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.fingerprint{
    width: 150px;
    border-radius: 50%;
}