*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.mycontainer{
    background-color:oklch(71.2% 0.194 13.428);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container1{
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.fingerprint{
    width: 150px;
    border-radius: 50%;
}
.sub-info h1{
    font-size: 38px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: deeppink;
    margin-top: 25px;
}
.butn-part{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom:35px;
    gap: 60px;
}

.butn-part button{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn1{
    background-color:deeppink ;
    color: White;
    padding: 10px;
    border-radius: 30px;
}
.btn2{
    background-color:oklch(90.5% 0.182 98.111);
    color: White;
    padding: 10px;
    border-radius: 30px;
}